<p>Hello,</p>
<p>{{ name }} is inviting you to join their team on advatyzly</p>
<p>use the link below to join!</p>

<p>
    <a href="{{ url }}">join</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>